body {
  display: flex;
  flex-direction: column;
  font-family: 'Gotham', sans-serif;
}

.item {
  display: flex;
  border: 1px solid gray;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

.verticalContainer{
  margin-left: 20%;
  display: flex;
  flex-direction: column;

}

.horizontalContainer{
  display: flex;
  flex-direction: row;
}

.imageContainer {
  display: flex;
  margin: 5px;
  padding: 5px;
  border: 1px solid gray;
}

.itemDetailContainer{
  margin-left: 10px;
}

img {
  height: auto;
  width: auto:auto;
  max-width: 200px;
  max-height: 200px;
}

#header{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  height: 150px;
  background-color: #06324E;


  align-items: center;
  justify-content: space-between;
  border-bottom: solid gray;
  color: white;
}

#main{
  display: flex;
  flex-direction: row;
  background-image: radial-gradient(ellipse at 50% 65%,#6CCEF8 0,#21A9DD 41%,#155791 86%);
}

.sidebar{
  margin: 0;
  min-width: 125px;
  width: 25%;
  max-width: 200px;
  min-height: 100%;
}

#sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
  background-color: white;
  border: 1px solid black;
}

#mainBody{
  margin-left: 20%;
  display: flex;
  flex-direction: column;
}

.tagline{
  font-style: italic;
}

.title{
  font-size: 30px;
}

input {
  width: 50px;
}

button {
  width: 100px;
  height: 50px;
  color: white;
  background-color: #EE4D7A;
  border-radius: 25px;
  padding: 10px;
  margin: 15px;

}
button:hover{
  cursor: pointer;
}

input{
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.hide{
  display: none;
}

span{
  padding: 5px;
  margin: 5px;
}
